/dts-v1/;
/plugin/;

/ {
  compatible = "ti,beaglebone", "ti,beaglebone-black";
  part-number = "{{ partNumber }}";
  version = "{{ version }}";

  exclusive-use =
    "{{ header }}",
    "gpio{{ gpioBank }}_{{ gpioOffset }}";

  fragment@0 {
    target = <&am33xx_pinmux>;
    __overlay__ {
      {{ name }}_pins: pinmux_{{ name }}_pins {
        pinctrl-single,pins = <
          {{ muxOffset }} {{ muxValue }}
        >;
      };
    };
  };

  fragment@1 {
    target = <&ocp>;
    __overlay__ {            
      #address-cells = <1>;
      #size-cells = <1>;                            

      {{ name }} {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&{{ name }}_pins>;
        #address-cells = <1>;
        #size-cells = <0>;

        {{ name }}_gpio {
          label = "{{ label }}";
          debounce_interval = <{{ debounceInterval }}>;
          linux,code = <1>;
          gpios = <&gpio{{ gpioBankPlusOne }} {{ gpioOffset }} {{ isActiveLow }}>;
          gpio-key,wakeup;
        };
      };
    };
  };
};

